doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet',href='/css/amazeui.min.css')
    link(rel='stylesheet',href='/css/admin.css')
    script(src='/js/jquery.min.js')
    script(src='/js/amazeui.min.js')
    script(src='/js/amazeui.js')
    script(src='/js/calendar.js')
  body
    block content
